@import url('https://fonts.googleapis.com/css?family=Padauk');
@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
	font-family: 'Questrial', sans-serif;
}

.marquee {
	font-size: 18px;
	width: 300px;
}

@media (min-width: 993px) {
	.brand-logo {
		margin-left: 15px;
	}
	.se-content h3 {
		font-size: 65px;
	}
}

.lemontree1, .lemontree2, .lemontree3 {
	pointer-events: none;
	position: absolute;
	left: 0;
	z-index: -2;
	filter: invert(100%);
	top: 0;
	height: 1200px;
}

.lemontree2 {
	transform: rotateX(180deg);
	z-index: -10;
	margin-top: -15px;
	left: 100px;
}

.name-section h3 {
	text-shadow: 2px 2px 1px white;
}

.quote {
	font-family: Georgia;
}

nav ul li:hover {
   background-color: #fdd835;
}

nav ul li a:hover {
	color: white;
	text-decoration: none;
}

.name-section, .skills{
	padding-top: 200px;
	padding-bottom: 150px!important;
}

.nav {
	width: 100%;
	height: 75px;
	background-color: #fcc921;
	margin-top: -10px;
	z-index: 15;
	position: relative;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}

.links {
	text-align: center;
	width: 100%;
	height: 75px;
	margin: auto;
}

.links a {
	display: inline-block;
	margin: 12px 20px;
	font-size: 30px;
	color: #5f6c73;
}

.links a:hover{
	border-bottom:  white solid 3px;
	color: white;
}

.active {
	border-bottom: white solid 3px;
	color: white;
}

@media (max-width: 463px){
	.links a{
		margin: 20px 10px;
		font-size: 18px;
	}
	.name-section{
		padding-top: -100px!important;
		padding-bottom: 150px!important;
	}

	.se-content h3 {
		font-size: 6vmin;
	}
	.mats-tech-lists  {
		text-align: center!important;
	}
}

.social {
	position: relative;
	margin: 10px 15px;
	font-size: 40px;
	color: #fcc921;
	z-index: 30;
}

.social:hover {
	color: white;
	text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
}

@media (max-width: 370px){
	.links a{
		margin: 23px 10px;
		font-size: 18px;
	}
	.se-content h3 {
		font-size: 6vmin;
	}
}

.home > div > div > div > img {
	margin: 0 auto!important;
	width: 120%!important;
	background-color: #dad8bc;
}

.slider {
  height: 100%;
  width: 5px;
  background: #5f6c73;
}

.slider:hover {
	background: #fcc921;
	width: 7px;
	cursor: col-resize;
}

.nav-wrapper {
	background-color: black;
}

nav {
	box-shadow: none!important;
}

.brand-logo img {
	height: 50px;
	margin-top: 8px;
	margin-right: 10px;
	transform: rotate(-30deg);
}

.brand-logo img:hover { 
	animation: shake 1s; 
    /* When the animation is finished, start again */
    animation-iteration-count: 1; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(-30deg); }
    10% { transform: translate(-1px, -2px) rotate(-31deg); }
    20% { transform: translate(-3px, 0px) rotate(-29deg); }
    30% { transform: translate(3px, 2px) rotate(-30deg); }
    40% { transform: translate(1px, -1px) rotate(-29deg); }
    50% { transform: translate(-1px, 2px) rotate(-31deg); }
    60% { transform: translate(-3px, 1px) rotate(-30deg); }
    70% { transform: translate(3px, 1px) rotate(-31deg); }
    80% { transform: translate(-1px, -1px) rotate(-29deg); }
    90% { transform: translate(1px, 2px) rotate(-30deg); }
    100% { transform: translate(1px, -2px) rotate(-31deg); }
}

@media (max-width: 688px) {
	.se-content h3{
		font-size: 8vmin;
	}
}

.se-container{
	display: block;
	width: 100%;
	overflow: hidden;
	padding-top: 150px;
	margin-top: -10px;
	/*background-image: url('https://www.iconspng.com/uploads/lemon-tree-2/lemon-tree-2.png');*/
	background-color: #5f6c73;
	position: relative;
	text-align: center!important;
}

.se-slope{
	margin: 0 -50px;
	position: relative;
	z-index: 10;
	/*transform-origin: left center;*/
}
.se-slope:nth-child(odd){
	background: #5f6c73;
	transform: rotate(5deg);
	margin-top: -200px;
}
.se-slope:nth-child(even){
	background: #fcc921;
	transform: rotate(-5deg);
	/*box-shadow: 0px 2px 3px rgba(0,0,0,0.4) inset;*/
}

.bottom{
	background: #fcc921;
}

.se-content{
	margin: 0 auto;
}

.se-content h3{
	font-size: 6vmin;
	position: relative;
	display: inline-block;
	padding: 10px 30px 8px 30px;
	height: 80px;
	line-height: 70px;
	margin-bottom: 20px;
	/*text-shadow: 1px 1px 3px rgba(0,0,0,0.9);*/
}

.se-slope:nth-child(odd) .se-content h3{
	background: #fcc921;
	color: #5f6c73;
}
.se-slope:nth-child(even) .se-content h3{
	background: #5f6c73;
	color: #fcc921;
}
.se-content h3:before{
	content: '';
	width: 0;
	height: 0;
	border-top: 38px solid transparent;
	border-bottom: 42px solid transparent;
	border-right: 60px solid #5f6c73;
	position: absolute;
	left: -59px;
	top: 0px;
}
.se-content h3:after{
	content: '';
	width: 0;
	height: 0;
	border-top: 38px solid transparent;
	border-bottom: 42px solid transparent;
	border-left: 60px solid #5f6c73;
	position: absolute;
	right: -59px;
	top: 0px;
}
.se-slope:nth-child(odd) .se-content h3:before,
.se-slope:nth-child(odd) .se-content h3:after{
	border-right-color: #fcc921;
	border-left-color: #fcc921;
}

.se-content p{
	width: 75%;
	max-width: 500px;
	margin: 0 auto;
	font-style: italic;
	font-size: 18px;
	line-height: 24px;
	padding-top: 10px;
}

.se-content p:first-letter, .question:first-letter, .answer:first-letter {
	font-size: 40px;
	font-family: 'Adobe Garamond Pro', Georgia, serif;
}

.se-slope:nth-child(odd) .se-content{
	transform: rotate(-5deg);
	color: #fcc921;
	padding: 150px 100px 350px 100px;
}
.se-slope:nth-child(even) .se-content{
	transform: rotate(5deg);
	color: #5f6c73;
	padding: 150px 100px 350px 100px;
}

.form-container {
	background-color:  #5f6c73!important;
}




/*projects page bullshit*/

.projects-page, .about-page {
	background-color: #5f6c73;
	height: 100%;
	width: 100%;
}

.projects-page h3, .about-page h3 {
	margin-top: 50px;
	background-color: #fcc921;
	font-size: 3vmin;
	position: relative;
	display: inline-block;
	padding: 6px 25px 5px 25px;
	height: 49px;
	line-height: 40px;
	margin-bottom: 20px;
	color: #5f6c73;
}

.projects-page h3:before, .about-page h3:before {
	content: '';
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 31px solid #fcc921;
	position: absolute;
	right: -30px;
	top: 0px;
}

.projects-page h3:after, .about-page h3:after {
	content: '';
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 31px solid #fcc921;
	position: absolute;
	left: -30px;
	top: 0px;
}

.mockup, .art {
	height: 350px;
	width: auto;
}

.art {
	width: 500px;
	height: auto;
	position: absolute;
	left: 50%;
	margin-left: -200px;
}

.art-frame {
	width: 350px;
	height: 300px;
	overflow: hidden;
	margin: 40px auto 0 auto;
	position: relative;
}

.projects-page {
	color: white;
	text-align: center;
}

/*.mats-tech-lists  {
	text-align: left!import;
}*/

/*about page bullshit*/


.about-photo {
	background-image: url('about-photo.jpg');
	height: 120vh;
	background-size: cover;
	border-left: #fcc921 solid 5px;
}

.about-info {
	height: 100%;
	margin-bottom: 0;
	background-image: url('lemon-tree.png');
	background-size: cover;
}

.about-page p {
	font-size: 17px;
	color: #5f6c73;
}

.about-page a {
	color: #5f6c73!important;
}

.qna, .form-container {
	position: relative;
	padding: 15px!important;
	margin: 50px 100px;
	background-color: #fcc921;
	border: 1px solid #ddd;
	background-clip: content-box;
	box-sizing: border-box;
}

.qna:after, .form-container:after {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-bottom: 50px solid #fefefe;
  bottom: -60px;
  right: -65px;
  box-shadow: 0px 7px 6px -9px black;
  transform: rotate(135deg);
}

.qna:before, .form-container:before {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-top: 50px solid #fefefe;
  top: -60px;
  left: -65px;
  box-shadow: 0px -7px 6px -9px black;
  transform: rotate(135deg);
}

.about-page h3:before {
	border-left: 31px solid #5f6c73;
}

.about-page h3 {
	margin: 20px auto;
	background-color: #5f6c73;
	color: #fcc921;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
}

.question:first-letter {
	font-size: 30px;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
}

.answer:first-letter {
	color: #5f6c73;
	font-size: 20px;
}

.question, .answer {
	margin: 3px;
}

.answer {
	color: #8597a0!important;
	margin: auto 10px;
	font-size: 12px!important;
}

.question {
	font-size: 15px;
}

.about-page h3:after {
	border-right: 31px solid #5f6c73;
}

.myinfo {
	border-top: #5f6c73 dashed 1px;
	border-bottom: #5f6c73 dashed 1px;
}

.last {
	margin-bottom: 20px!important;
}

.gotcha {
	display: none;
}

form {
	margin: 40px 60px;
}

input {
	margin: 15px 0;
	padding: 5px;
	width: 100%;
	background-color: rgba(255,255,255, 0.1);
	color: white;
	border: lightgrey inset 2px;
}

.about-resume {
	color: #0291ad!important;
}

.btn {
	background-color: #0291ad!important;
}

textarea {
	width: 100%;
	background-color: rgba(255,255,255, 0.1);
	color: white;
	border: lightgrey inset 2px;
}

footer {
	background: transparent;
	color: white!important;
	position: absolute;
	bottom: 0;
	z-index: 15;
	margin: 0 auto;
}

footer p {
	margin-left: 20px;
}